.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  &__side {
  }

  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  &--debug {
    background-color: red;
    .layout__side, .layout__content {
      background-color: pink;
    }
    .layout__content {
      > div {
        background-color: green;
      }
    }
  }
}
