<app-page-layout>
  <ng-container layout-header>
    <app-header-layout>
      <ng-container layout-title>
        <h3>Danil Chigirev</h3>
      </ng-container>
      <ng-container layout-content>
        <div (click)="debug.toggle()">Debugging: {{ debug.isDebug() }}</div>
      </ng-container>
    </app-header-layout>
  </ng-container>
  <ng-container layout-content>
    <app-side-nav-layout>
      <ng-container layout-side> Navigation </ng-container>
      <ng-container layout-content>
        <router-outlet />
      </ng-container>
    </app-side-nav-layout>
  </ng-container>
  <ng-container layout-footer> Footer </ng-container>
</app-page-layout>
