<app-page-layout>
  <div layout-header>
    <app-header-layout>
      <div layout-title>
        <app-logo></app-logo>
      </div>
      <div layout-content>
        <div (click)="debug.toggle()">Debugging: {{ debug.isDebug() }}</div>
      </div>
    </app-header-layout>
  </div>
  <div layout-content>
    <app-side-nav-layout>
      <div layout-side>
        <app-navigation [items]="navigationItems"></app-navigation>
      </div>
      <div layout-content>
        <router-outlet />
      </div>
    </app-side-nav-layout>
  </div>
  <!-- <div layout-footer>Footer</div> -->
</app-page-layout>
