.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  &__title {
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &--debug {
    background-color: red;
    .layout__title, .layout__content {
      background-color: pink;
    }
  }
}